.productCard_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin-top: 20px;
}

.productCard{
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.productCard_imgBox_img{
    width: 100%;
    height:100%;
    border-radius: 8px;
}

.productCard_imgBox_heartIcon{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
}

.productCard_imgBox_title{
    position: absolute;
    top: 120px;
    left: 10px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    background: purple;
    padding: 5px 10px;
    border-radius: 6px;
}


.productCard_title{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.productCard_title_pirce{
    font-weight: bold;
}

.productCard_title_dayBox{
    display: flex;
    align-items: center;
    gap: 5px;
}

.productCard_subTitle,
.productCard_text{
    padding:0 10px ;
}
.productCard_subTitle{
    font-weight: bold;
    height:20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productCard_text{
    color: #8DA1CA;
}