.bar_icon {
  display: none;
}

.navbar {
  background: #2A2036;
  color: white;
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar_container {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-between;
}

.offcanvasBody {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.inputGroup {
  display: flex;
  width: 100%;
}

.searchInput {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
}

.no-border:focus {
  border: none;
  outline: none;
}

.searchBtn {
  background: rgb(38, 180, 38);
  color: white;
  padding: 12px;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  font-size: 18px;
}

.categoryBox {
  display: flex;
  cursor: pointer;
}

.advertsBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.advertsBox_btn_new {
  background: rgb(38, 180, 38);
  color: white;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  font-size: 16px;
  width: -moz-max-content;
  width: max-content;
}

.advertsBox_btn_filter {
  background: orange;
  color: white;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.category-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.category-modal .modal-content {
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  width: 60%;
  max-width: 900px;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: scale(0.8);
  animation: scaleIn 0.3s ease-in-out forwards;
  overflow-y: auto;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
.category-modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.category-modal .modal-header h5 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.category-modal .modal-body {
  display: flex;
  padding-top: 15px;
  height: 100%;
}

.category-modal .categories {
  border-right: 1px solid #ddd;
  max-height: 100%;
  overflow-y: auto;
}

.category-modal .categories .category-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-modal .categories .category-item:hover {
  background-color: #f7f7f7;
  border-radius: 10px;
}

.category-modal .products {
  width: 70%;
  padding-left: 20px;
  max-height: 100%;
  overflow-y: auto;
}

.category-modal .products ul {
  list-style-type: none;
  padding: 0;
}

.category-modal .products li {
  padding: 5px 0;
  font-size: 1.2rem;
}

.category-modal button {
  background-color: #2A2036;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.category-modal button:hover {
  background-color: #2A3036;
}

.category-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-item .category-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.emptyBox {
  width: 100%;
  border: 1px solid gray;
}

@media screen and (max-width: 1080px) {
  .navbar_container {
    gap: 30px;
  }
}
@media screen and (max-width: 968px) {
  .advertsBox {
    display: none;
  }
  .navbarBrand {
    font-size: 14px;
  }
  .categoryBox,
  .navBar_selectBox {
    display: none;
  }
  .inputGroup {
    margin-bottom: -150px;
    margin-left: -40px;
    position: relative;
    width: 100%;
  }
  .searchInput {
    border: 1px solid gray;
    height: 40px;
    width: 100%;
  }
  .searchBtn {
    position: absolute;
    right: 2%;
    background: white;
    padding: 0px;
    margin-top: 10px;
  }
  .icon {
    color: black;
  }
  .bar_icon {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .navbar_container {
    justify-content: space-between;
  }
  .nawBar_responsive_container {
    display: block;
  }
}/*# sourceMappingURL=navbar.module.css.map */