.category-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.5s ease-in-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.category-modal .modal-content {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    width: 60%;
    max-width: 900px;
    height: 80%; 
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transform: scale(0.8);
    animation: scaleIn 0.3s ease-in-out forwards;
    overflow-y: auto; 
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

.category-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.category-modal .modal-header h5 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.category-modal .modal-body {
    display: flex;
    padding-top: 15px;
    height: 100%;
}

.category-modal .categories {
    border-right: 1px solid #ddd;
    max-height: 100%; 
    overflow-y: auto; 
}

.category-modal .categories .category-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-modal .categories .category-item:hover {
    background-color: #f7f7f7;
    border-radius: 10px;
}

.category-modal .products {
    width: 70%;
    padding-left: 20px;
    max-height: 100%;
    overflow-y: auto; 
}

.category-modal .products ul {
    list-style-type: none;
    padding: 0;
}

.category-modal .products li {
    padding: 5px 0;
    font-size: 1.2rem;
}

.category-modal button {
    background-color: #2A2036; 
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.category-modal button:hover {
    background-color: #2A3036 ; 
}
.category-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-item .category-icon {
    margin-right: 10px; /* Icon ilə mətn arasında boşluq */
    font-size: 1.5rem; /* Icon ölçüsü */
}